body {
    font-family: 'Open Sans', sans-serif;
}
.small-caps {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.bold {
    font-weight: bold;
    line-height: 1.6em;
}
.row {
    margin: 40px 0px;
}
/* NAV */
.logo {
    font-family: 'Pacifico', sans-serif;
    color: #488BEF;
    font-size: 24px;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-default {
    background: #fff;
}
.navbar-login-fix {
    margin-top: 10px;
}
.navbar-btn {
    color: #488BEF;
    border: 2px solid #488BEF;
    transition: .2s;
}
.navbar-btn:hover {
    background: #488BEF;
    color: #fff;
    border: 2px solid #488BEF;
    transition: .2s;
}

/* BANNER */
.header-bg {
    background: linear-gradient(to bottom, #548AED 0%,#4075D5 100%);
    color: #fff;
    padding: 50px;
}
.page {
    width: 212px;
    height: 275px;
    background: #fefefe;
    box-shadow: 20px 10px 0px rgba(0,0,0,.4);
    border: 1px solid #ededed;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    color: #373737;
    padding: 5px;
}
.page .name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.resume-page-text-block {
    background: #EFEEEF;
    height: 5px;
}
.resume-page-text-block-heading {
    background: #EFEEEF;
    height: 5px;
    margin-bottom: 5px;
    margin-top: 7px;
}
.resume-page-line {
    margin: 5px 0px;
}
.btn-call {
    background: #FFE738;
    color: #fff;
    width: 150px;
    color: #373737;
}
.btn-call:hover {
    background: #F0D932;
    color: #373737;
}
/* HOMEPAGE FEATURES */
.home-screenshot {
    width: 300px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    /*border: 1px solid #373737;*/
}
.home-features h3 {
    font-weight: bold;
    text-align: center;
}
/* FOOTER */
footer {
    margin-top: 40px;
    width: 100%;
    background: #3A74D3;
    padding: 20px 0px;
    color: #fff;
}
