body {
    font-family: 'Lato', sans-serif;
    background: #fafafa;
}
a {
    color: inherit;
}
header {
    height: 70px;
    line-height: 70px;
}
.header-login {
    background: #fff;
}
header h1 {
    font-size: 36px;
    padding-left: 20px;
    color: #fff;
    display: inline-block;
}
.header-login h1 {
    color: #508DF1;
}
header nav {
    display: inline-block;
    float: right;
    padding-right: 20px;
}
.header-login nav .nav-item {
    color: #373737;
}
header nav .nav-item {
    color: #fff;
    display: inline-block;
    padding: 0px 10px;
}
.main {
    background: #508DF1;
    height: 400px;
}
.updates {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-weight: 400;
}
.updates p {
    padding: 10px;
    font-size: 30px;
}
.updates input {
    font-family: 'Lato', sans-serif;
}
.updates .email {
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 5px;
}
.updates .submit {
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 4px;
    background: #FFE728;
    transition: .1s;
}
.updates .submit:hover {
    background: #FFD820;
    cursor: pointer;
    transition: .1s;
}
.resume {
    border-radius: 4px;
    width: 800px;
    height: 150px;
    background: #fff;
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
}
.line {
    width: 100%;
    background: #efefef;
    height: 10px;
    margin-bottom: 20px;
}
.half-line {
    width: 45%;
    background: #efefef;
    height: 10px;
    margin-bottom: 20px;
    display: inline-block;
}
/*SURVEY*/
.survey {
    padding: 20px;
    background: #fafafa;
    box-shadow: 0px -10px 19px 0px rgba(0,0,0,0.12);
    color: #373737;
}
.survey h3 {
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px;
}
.survey p {
    font-family: 'Lato', serif;
    line-height: 1.6em;
    width: 800px;
    margin: 0px auto;
    text-align: center;
}
.survey-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.big-input {
    border: none;
    border-radius: 4px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin: 10px 0px;
}
/*TEAM*/
.team {
    width: 100%;
    word-wrap: break-word;
    padding: 20px;
    box-shadow: 0px -10px 19px 0px rgba(0,0,0,0.12);

}
.team-wrapper {
    max-width: 800px;
    margin: 0px auto;
}
.team-wrapper p {
    padding: 20px;
    line-height: 1.6em;
    text-align: center;
}
.team-flex-wrapper {
    display: flex;
    flex-flow: row wrap;
}
.team-flex-item {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
}
.team h3 {
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
}
.photo-wrapper {

}
.photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.name {
    padding: 10px 0px;
    font-weight: bold;
}
.bio {

}
/*ABOUT*/
.about {
    padding: 20px;
    background: #fafafa;
    box-shadow: 0px -10px 19px 0px rgba(0,0,0,0.12);
    color: #373737;
}
.about h3 {
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px;
}
.about-wrapper {
    width: 800px;
    margin: 0px auto;
}
.about-wrapper p {
    line-height: 1.6em;
}
footer {
    text-align: center;
    border-top: 1px solid #efefef;
    padding: 20px 0px;
    color: #777777;
}
/*LOGIN*/
.login-box-wrapper {
    height: calc(100% - 150px);
}
.login-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    width: 300px;
    margin: 0px auto;
    border-radius: 4px;
}
.login-box h3 {
    text-align: center;
    padding: 20px;
    color: #373737;
}
